/* init */

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 29px00;
  font: 12px "\5B8B\4F53", sans-serif;
  background: #ffffff;
}

body {
  background: radial-gradient(#ffecd2, #fcb69f);
  /* font-family: ; 运动风格*/
  overflow: hidden;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
p {
  padding: 0;
  margin: 0;
}

table,
td,
tr,
th {
  font-size: 12px;
}

li {
  list-style-type: none;
}

img {
  vertical-align: top;
  border: 0;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px;
  font-weight: normal;
}

address,
cite,
code,
em,
th {
  font-weight: normal;
  font-style: normal;
}

:root {
  --animation-time: 0.5s;
}

/* start */

#introBtn{
  position: fixed;
  z-index: 1;
  left: 0.5em;
  top: 0.5em;
  width: 3em;
  height: 3em;

  color: white;
  border: 0.2em solid rgba(255,255,255,.6);
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.introBtnImg{
  width: 60%;
  object-fit: cover;
}

.introBox{
  position: absolute;
  top: -100vh;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.8);
  z-index: 3;
  transition: all var(--animation-time);
  color: white;
  overflow: hidden;
}

.introContent {
  width: 60vw;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
  position: relative;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

#introCloseBtn{
  position: absolute;
  z-index: 4;
  right: 1em;
  cursor: pointer;
  font-size: 2em;
}

.introCloseImg{
  width: 1.2em;
  object-fit: cover;
}

.introHeaderInfo{
  font-size: 2em;
  position: relative;
  margin-bottom: 1em;
}

.introHeaderInfo::after{
  content: '';
  background-color: white;
  width: 100%;
  height: 2px;
  display: inline-block;
  position: absolute;
  bottom: -0.2em;
  left: 0;
}

.introDetail{
  font-size: 1.2em;
  text-indent: 2em;
  line-height: 1.6em;
}
.introDetail:last-child{
  margin-bottom: 2em;
  text-decoration: underline;
}

.introImg{
  width: 30vw;
  align-self: center;
  margin: 1.2em 0;
}

.introVideo {
  width: 30vw;
  align-self: center;
  margin: 1.2em 0;
  display: none;
}

.buttonBox {
  position: fixed;
  right: 0;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  border: 0.1em solid white;
  border-right: 0;
  width: 2em;
  height: 4em;
  border-radius: 2em 0 0 2em;
  /* text-align: center; */
  line-height: 4em;
  text-indent: 1em;
  cursor: pointer;
  color: white;
  font-size: 2em;
  transition: all var(--animation-time);

  box-shadow: 0 0 4em #ff00008c;

}

#customizeBtn {
  text-shadow: 0 0 0.2em #ff0000;
}

.headerBox {
  border-bottom: 0.2em solid red;
  height: 2em;
}


.headerInfo {
  background: red;
  color: white;
  padding: 0.2em 1em;
  border-radius: 0.2em;
  /* min-width: 5em; */
  font-size: 1.5em;
  line-height: 1em;
}
.headerImg{
  height: 80%;
  object-fit: cover;
  margin-right: 0.2em;
}

.rightBox {
  /* 原来是absolute，手机上有问题，，改成fixed就好了。。 */
  position: fixed;
  right: -50vw;
  width: 50vw;
  background: #fdfdfd;
  height: 100vh;
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
  transition: all var(--animation-time);
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: none;
background: rgba(0,0,0,.3);
-webkit-box-shadow: none;
}

::-webkit-scrollbar-track {
-webkit-box-shadow: none;
border-radius: 10px;
background: rgb(166 166 166 / 30%);
-webkit-box-shadow: none;
}


.itemsBox {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}



.itemBox {
  width: 5em;
  /* min-width: 5em; */
  height: 5em;
  border: 2px solid #dedede;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 8px;
  margin-top: 8px;
  cursor: pointer;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active{
  border: 2px solid red;
}

.surfBodys .itemBox img{
  width: 100%;
  object-fit: cover;
  transform: rotate(35deg) scale(1.2);

}

.itemBox img {
  width: 100%;
  object-fit: cover;
  transform: scale(1.5);
}

/* media */

/* > 1000 */
@media screen and (min-width: 1000px) {
  /* itemBox */

  .itemBox {
    width: 6em;
    height: 6em;
  }
}


/* > 1200 */
@media screen and (min-width: 1200px) {
  /* itemBox */

  .itemBox {
    width: 7em;
    height: 7em;
  }
}




